* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #303040;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #202030;
}

html,
body {
    width: 100%;
}

body {
    font-family: monospace;
    height: 100vh;
    overflow: hidden;
    background-color: #303040;
}

.interface {
    width: 100vw;
    height: fit-content;
    color: #ffffff;
    background-color: #ffffff;
}

.interface>.top {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #303040;
}

.interface>.top>.roomId {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: fit-content;
    background-color: #303040;
    transition: border-bottom 0.2s ease;
}

.interface>.top>.roomId>#roomId {
    width: fit-content;
    height: 0;
    opacity: 0;
    line-height: 30px;
    text-align: center;
    transition: all 0.2s ease;
}

.interface>.top>.roomId>button {
    width: 15px;
    height: 0;
    background-color: transparent;
    background-image: url("./images/copy.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease;
}

.interface>.top>.roomId.show>#roomId {
    height: 30px;
    opacity: 1;
}

.interface>.top>.roomId.show>button {
    height: 15px;
    opacity: 1;
}

.interface>.top>.roomId>button:active {
    transform: scale(0.9);
}

.interface>.top>.createJoinButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    background-color: #303040;
}

.interface>.top>.createJoinButtons>button {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #303040;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.select {
    cursor: pointer;
}

.select::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 1px solid transparent;
    transition: border-color 0.2s ease;
}

.select:hover::before,
.select.active::before {
    border-color: #ffffff;
}

/* Interface > Tabs */

.interface>.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: transparent;
    margin-top: 0;
    transition: all 0.2s ease;
}

.interface>.tabs.show {
    height: 30px;
    opacity: 1;
    background-color: #303040;
    margin-top: 1px;
}

.interface>.tabs>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.interface>.tabs>.joinersTabs>.tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #ffffff;
    transition: all 0.2s ease;
}

/* Wrapper */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    width: 100vw;
    height: calc(100vh - 20px);
    background-color: #606080;
}

.wrapper>div {
    background-color: #ffffff;
    padding: 30px;
}

.wrapper>div>textarea,
.wrapper>div>pre {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 121px);
    outline: none;
    border: none;
    resize: none;
    background-color: transparent;
}

.wrapper>div>textarea {
    padding-right: 4px;
}

.wrapper>div>pre {
    overflow: auto;
}

audio {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

/* Media */

@media screen and (max-width: 1000px) {
    .interface>.top {
        flex-direction: column;
    }

    .interface>.top>.roomId {
        width: 100%;
    }

    .interface>.top>.roomId.show {
        margin-bottom: 1px;
    }

    .interface>.top>.createJoinButtons {
        width: 100%;
    }

    .interface>.top {
        background-color: #ffffff;
    }

    .wrapper>div>textarea,
    .wrapper>div>pre {
        max-height: calc(100vh - 152px);
    }

    ::-webkit-scrollbar {
        display: none;
    }

    body {
        width: 100vw;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .wrapper {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .wrapper > div {
        height: 100vh;
    }
}